POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_PORT=

MONGO_ROOT_USERNAME=
MONGO_ROOT_PASSWORD=
MONGO_DATABASE=
MONGO_PORT=

REDIS_PASSWORD=
REDIS_PORT=
REDIS_MAX_MEMORY=

REDIS_UI_USER=
REDIS_UI_PASSWORD=
REDIS_UI_PORT=